{% extends "base_generic.html" %}

{% block content %}
<h1 class="facility_name">{{facility.name}}</h1>
<div class="detail"> 
<h2>Aktualne przedziały czasowe</h2>
<table>
    <tr><th>Data</th><th>Początek</th><th>Koniec</th></tr>
    {% for slot in timeslots %}
    <tr><td class="centered-cell">{{slot.date}}</td><td class="centered-cell">{{slot.start}}</td><td class="centered-cell">{{slot.end}}</td></tr>
    {% endfor %}
</table>
</div>
<div class="detail"> 
<h2>Utwórz nowy przedział czasowy</h2>
<form action="" method="POST">
    {% csrf_token %}
    <table class="centered-cell">
        {{timeslot_form.as_table}}
        <tr><td colspan='2'><input type="submit" value="Utwórz"></td></tr>
    </table>
</div>
</form>
{% endblock %}

