{% extends "base_generic.html" %}

{% block content %}
<div class="facility_edit">
    <div class="block1">
        <h1>Nazwa obiektu: {{facility.name}}</h1>
        <p>Adres: {{facility.street_name}} {{facility.building_number}}</p>
        <h2>Utwórz nowy przedział czasowy</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{timeslot_form.as_table}}
                <tr><td colspan='2'><input type="submit" value="Utwórz"></td></tr>
            </table>
        </form>
    </div>
    <div class="block1">
        <h2>Aktualne przedziały czasowe</h2>
        <table>
            <tr><th>Data</th><th>Początek</th><th>Koniec</th></tr>
            {% for slot in timeslots %}
            <tr><td>{{slot.date}}</td><td>{{slot.start}}</td><td>{{slot.end}}</td></tr>
            {% endfor %}
        </table>
        <h2>Rezerwacje</h2>
        <table>
            <tr><th>Użytkownik</th><th>Data</th><th>Godziny</th><th>Zaakceptowane</th><th></th></tr>
            {% for res in reservations %}
                <tr>
                    <td>{{res.renting_user.username}}</td>
                    <td>{{res.date}}</td>
                    <td>{{res.start}}-{{res.end}}</td>
                    <td>{% if res.accepted %}TAK{% else %}NIE{% endif %}</td>
                    <td><a href='{% url "accept_reservation" facility.id res.id %}'>{% if res.accepted %}Odrzuć{% else %}Zaakceptuj{% endif %}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}