{% extends "base_generic.html" %}

{% block content %}
<div class="facility">
    <div class="block1">
        <h2>Nazwa obiektu: {{facility.name}}</h2>
        <p>Adres: {{facility.street_name}} {{facility.building_number}}</p>
        {{facility.description}}
        <h2>Dodane przez właściciela przedziały czasowe</h2>
        <table> 
            <tr><th>Data</th><th>Początek</th><th>Koniec</th></tr>
            {% for slot in timeslots %}
            <tr><td>{{ slot.date|date:"d.m.Y" }}</td><td>{{ slot.start|date:"H:i" }}</td><td>{{ slot.end|date:"H:i" }}</td></tr>
            {% endfor %}
        </table>

        <h2>Zaakceptowane rezerwacje</h2>
        <table>
            <tr><th>Użytkownik</th><th>Data</th><th>Godziny</th></tr>
            {% for res in reservations %}
                <tr>
                    <td>{{ res.renting_user.username }}</td>
                    <td>{{ res.date|date:"d.m.Y" }}</td>
                    <td>{{ res.start|date:"H:i" }}-{{ res.end|date:"H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
    <div class="block1">
        {% block page-content %}
        {% endblock %}
    </div>
</div>

{% endblock content %}