{% extends "base_generic.html" %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock scripts %}

{% block content %}
{% autoescape off %}
<div class="tablecenter">
    <div id="search">
        <form action="" method="get">
            <table>
                {{search_form.as_table}}
                <tr><td colspan='2'><input type="submit" value="Szukaj"></td></tr>
            </table>
        </form>
    </div>
    {{ plot }}
    <div id="results">
        {% if facilities %}
            <table class="table2">
                <tr><th>Obiekt</th><th>Typ</th><th>Właściciel</th></tr>
                {% for obj in facilities %}
                <tr>
                    <td><a href='{% url "facility_detail" obj.id %}'>{{obj.name}}</a></td>
                    <td><ul>{% for type in obj.type.all %}<li>{{type}}</li>{% endfor %}</ul></td>
                    <td>
                        {{obj.owner}}{% if obj.owner.first_name and obj.owner.last_name %} ({{obj.owner.first_name}} {{obj.owner.last_name}}){% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Żaden obiekt nie pasuje do wybranego filtrowania</p>  
        {% endif %}      
    </div>
</div>
{% endautoescape %}
{% endblock content %}
