{% extends "base_accounts.html" %}

{% block page-content %}

    {% if form.errors %}
        <p class="p1">Niepoprawna nazwa użytkownika lub hasło. Proszę spróbować.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="p1">Nie masz dostępu do tej strony.</p>
        {% else %}
            <p class="p1">Aby wyświetlić tę stronę należy się zalogować.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>Nazwa użytkownika</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Hasło</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        <input type="submit" value="Zaloguj się">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Nie pamiętam hasła.</a></p>
    <p><a href="{% url "registration_choice" %}">Utwórz konto</a></p>

{% endblock %}
