{% extends "base_accounts.html" %}

{% block page-content %}
    {% if validlink %}
        <p>Proszę wpisz (i potwierdź) swoje nowe hasło</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nowe hasło:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potwierdź hasło:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zmień moje hasło"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Zmiana hasła się nie udała</h1>
        <p>Link do resetowania hasła jest nieprawidłowy, możliwe że z tego powodu, że został już użyty. Wygenruj nowe resetowanie hasła.</p>
    {% endif %}
{% endblock %}
