{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rezerwacja obiektów sportowych Warszawa{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block scripts %}{% endblock scripts %}
</head>
<body>
    <div class="top-login">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
        <header>Rezerwacja obiektów sportowych Warszawa</header>
    </div> 
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>