body{
    background-color:white;
    margin-top: 2%;
}

.top-login{
    display: flex;
    text-align: center;
    border-bottom: 3px solid rgb(189, 107, 42);
}

header{
    color: rgb(64, 68, 68);
    font-family: 'Didot' serif;
    font-size: 30px;
    margin-bottom: 20px;
}

img.logo{
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 65px;
    margin-top: -8px;
    margin-right: 50px;
    height: auto;
}


.login-center{
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgb(112, 119, 119);
    margin-left: 32%;
    margin-right: 32%;
    padding: 10px;
}

form {
    display: inline-block;
}

.login-center .p1{
    margin-top: -5px;
    color: rgb(64, 68, 68);
    font-family: 'Didot' serif;
    font-size: 23px;
}


input[type="submit"]{
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    color: rgb(64, 68, 68);
    border: 2px solid rgb(64, 68, 68);
}

input[type="submit"]:hover {
    background-color: rgb(64, 68, 68); 
    color: white;
  }

button {
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    color: rgb(64, 68, 68);
    border: 2px solid rgb(64, 68, 68);
  }

button:hover {
    background-color: rgb(64, 68, 68); 
    color: white;    
}