body{
    background-color:white;
    margin-top: 2%;
}

.top-login{
    display: flex;
    text-align: center;
    border-bottom: 3px solid rgb(189, 107, 42);
}

header{
    color: rgb(64, 68, 68);
    font-family: 'Didot' serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.header-right{
    text-align: right;
    position: absolute;
    right: 1em;
}

.header-right h2, .header-right p {
    display: inline;
}

.header-right p{
    margin-right: 10px;
}

.header-right h2{
    font-family: 'Didot' serif;
    font-size: 23px;
    color: rgb(64, 68, 68); 
    margin-right: 30px;
}


img.logo{
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 65px;
    margin-top: -8px;
    margin-right: 50px;
    height: auto;
}


.login-center{
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgb(112, 119, 119);
    margin-left: 32%;
    margin-right: 32%;
    padding: 10px;
}

.facility{
    display: flex;
}

.block1{
    width: 48%; 
    box-sizing: border-box;
    padding: 10px;
}

.block1 table{
    border-spacing: 10px; 
    border-collapse: separate; 
}
.table2 {
    display: inline-block;
    border-collapse: collapse;
}
.table2 td {
    text-align: center;
    padding: 10px;
}

.tablecenter {
    text-align: center;
}

form {
    display: inline-block;
}

.p1{
    margin-top: -5px;
    color: rgb(64, 68, 68);
    font-family: 'Didot' serif;
    font-size: 23px;
}


input[type="submit"], button{
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    color: rgb(64, 68, 68);
    border: 2px solid rgb(64, 68, 68);
}

input[type="submit"]:hover, button:hover  {
    background-color: rgb(64, 68, 68); 
    color: white;
}

a {
    color: rgb(42, 124, 189);
    text-decoration: none;
  }
  
